body {
	background-color: rgb(255, 250, 250);
}

.headerSpan {
	border-bottom: 2px solid;
} 

#headerSpan1 {
	color: rgb(101, 229, 120);
	/*color:  rgb(131, 209, 120);*/
	
	/*border-bottom-color: rgb(51, 153, 255);*/
	/*color: rgb(51, 255, 51);*/
	/*border-bottom-color: rgb(51, 153, 255);*/
	border-bottom-color: orange;
	/*rgb(255, 51, 255)*/
}
#headerSpan2 {
	color: rgb(51, 153, 255);
	border-bottom-color: rgb(101, 229, 120);

	/*border-bottom-color: rgb(51, 255, 51);*/
	/*rgb(255, 153, 51);*/
}

#pauseButton,
button {
	width: -webkit-fill-available;
}