div.reading-list section.sidebar {
    display: none;
}

.replies-wrapper,
.discussion-header {
	max-width: none !important;
}
.reply__content,
.reply--depth-0>.reply__content {
	width: 100% !important;
	flex: none !important;
	margin-bottom: 5px !important;
	max-width: none !important;
}
.reply__sidebar {
	text-align: left !important;
	position: static !important;
	width: auto !important;
	margin-left: 48px !important;
	line-height: 24px !important;
	align-self: center !important;
	height: auto !important;
}

.reply__tools {
	flex: none !important;
	margin-top: 0 !important;
	font-size: 13px !important;
	align-self: center !important;
	line-height: 24px !important;
}

.reply__recommend {
	height: auto !important;
	margin-top: 0 !important;
}
.reply__recommend .like-count {
	font-size: 13px !important;
	margin-top: 0px !important;
	display: inline !important;
	line-height: 24px !important;
}
.reply__link {
	margin-left: 0 !important;
}
.reply__tools.js_reply-tools:before {
	content: "•";
	margin: 0 5px;
	color: #999;
}
.reply__recommend .svg-icon.giant {
	width: 16px !important;
	height: 16px !important;
	margin-right: 5px !important;
}
.reply__recommend .like-count,
.reply__tools.js_reply-tools:before,
.reply__recommend .svg-icon,
.reply__link {
	vertical-align: middle !important;
}
.commentlist {
	margin-bottom: 25px !important;
}
.replies-wrapper .reply__content {
	padding-left: 48px !important;
}


div.kinjamprove-button-container {
	margin: auto;
}

a.kinjamprove-button {
/* 	color: rgb(131, 209, 120); */
	color: rgb(101, 229, 120);
	font-weight: bold; 
	font-size: 25px;
	border-style: solid;
	border-radius: 50px;
	border-width: 2px;
	padding: 10px;
	text-decoration-line: none;
}

a.kinjamprove-button:hover {
	color: rgb(64, 220, 76);
	border-color: rgb(101, 229, 120);
}

a.kinjamprove-collapse-thread-button {
	color: #8F939D; 
	font-size: 20px;
	line-height: 5px; 
	position: relative;
	z-index: 1;
	font-weight: 400; 
	width: 12.640px;
	display: none;
	float: right;
	text-decoration-line: none;
	top: 10px;
	left: -35px;
}

a.kinjamprove-collapse-thread-button:hover {
	color: #535868;
	text-decoration-line: none;
}

article.kinjamprove-blockedUser a.kinjamprove-collapse-thread-button {
	top: -15px;
}
 
a.parent-comment-link {
	color: rgb(170, 170, 170);
	z-index: 50;
    margin-right: 20px;
} 

.parent-comment-tooltip {
	position: absolute;
	z-index: 1000; 
	background-color: white; 
	margin-bottom: 0; 
	border-radius: 4px; 
	border-color: rgb(101, 229, 120); 
	border-width: 3px; 
	border-style: solid;	
    width: 220px; 
}

.parent-comment-tooltip > img {
	width: 36px; 
	height: 36px; 
	position: relative; 
	display: block; 
	float: left; 
	border-radius: 4px;
	margin: 5px;
}

.parent-comment-tooltip > div {
	position: relative;
}

.parent-comment-tooltip > div > h4,
.parent-comment-tooltip > div > p {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}

.parent-comment-tooltip > div > h4 {
	font-size: 1.0rem; 
	color: black; 
	margin-top: 4px;
}

.parent-comment-tooltip > div > p {
	font-size: 13px; 
	color: rgb(170, 170, 170);
	z-index: 1;
	
}

.reply--unapproved .avatar, 
.reply--unapproved .reply__byline, 
.reply--unapproved .reply__content, 
.reply--unapproved .reply__publish-time, 
.reply--unapproved .reply__tools {
    opacity: 1.0;
}

.reply--unapproved .avatar img {
	filter: none;
}


article[depth],
article[depth] ~ div.js_editor-placeholder  {
	margin-left: 192px !important;
}

article[depth="0"]
{
	margin-left: 0px !important;
} 

article[depth="1"],
article[depth="0"] ~ div.js_editor-placeholder {
	margin-left: 48px !important;
}

article[depth="2"],
article[depth="1"] ~ div.js_editor-placeholder {
	margin-left: 96px !important;
}

article[depth="3"],
article[depth="2"] ~ div.js_editor-placeholder {
	margin-left: 144px !important;
}

article[depth="4"],
article[depth="3"] ~ div.js_editor-placeholder {
	margin-left: 192px !important;
}

article[depth="5"],
article[depth="4"] ~ div.js_editor-placeholder {
	margin-left: 240px !important;
}

article[depth="6"],
article[depth="5"] ~ div.js_editor-placeholder {
	margin-left: 284px !important;
}

article[depth="7"],
article[depth="6"] ~ div.js_editor-placeholder {
	margin-left: 332px !important;
}

article[depth="8"],
article[depth="7"] ~ div.js_editor-placeholder {
	margin-left: 380px !important;
}

 
 /*
section.js_discussion-region[kinjamprove="on"] article[depth],
article[depth] ~ div.js_editor-placeholder  {
	margin-left: 192px !important;
}
section.js_discussion-region[kinjamprove="on"] article[depth="0"]
{
	margin-left: 0px !important;
}
section.js_discussion-region[kinjamprove="on"] article[depth="1"],
article[depth="0"] ~ div.js_editor-placeholder {
	margin-left: 48px !important;
}
section.js_discussion-region[kinjamprove="on"] article[depth="2"],
article[depth="1"] ~ div.js_editor-placeholder {
	margin-left: 96px !important;
}
section.js_discussion-region[kinjamprove="on"] article[depth="3"],
article[depth="2"] ~ div.js_editor-placeholder {
	margin-left: 144px !important;
}
section.js_discussion-region[kinjamprove="on"] article[depth="4"],
article[depth="3"] ~ div.js_editor-placeholder {
	margin-left: 192px !important;
}
*/

/*.blockedUserMessage {
	margin-top: 10px; 
	margin-left: -5px;
	font-size: 14px;
}

.editorDiv, 
.editorDiv > .kinjamproveTextEditorContainerDiv > .kinjamproveTextEditor {
	max-width: 636px;
}

.kinjamproveTextEditorContainerDiv:before,  
.kinjamproveTextEditorContainerDiv:after {
	content: ' ';
	display: block;
	border: 0.5px dashed black;
	font-family: ProximaNovaCond, sans-serif !important; 
}

.kinjamproveTextEditorContainerDiv {
	display: block;
	box-sizing: border-box;
	margin-bottom: 15px; 
}

.kinjamproveTextEditor {
	outline: none;
	border-color: transparent;
	width: 100%;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 140px
}

		
#secretEditor {
	font-size: 22.4px;
	min-width: 636px;
	min-height: 200px;
}

.fieldEditorButtonsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
}

.fieldEditorSpan, .fieldEditorButton {
	display: table-cell;
	box-sizing: border-box;
	font-size: 13px;
}

.fieldEditorSpan.cancel {
	padding-right: 5px;
}

.fieldEditorSpan.publish {
	padding-left: 5px;
}

.fieldEditorButton {
	width: 100%;
	border-radius: 0;
	padding: 5px 0;
	margin-top: -5px;
	text-align: center;
	cursor: pointer;
	border: 1.5px solid;
}

.publishButton {
	color: white;
	background-color: rgb(101, 229, 120);
	border-color: transparent;
	padding-left: 5px;
}

.publishButton:hover, 
.publishButton:focus, 
.publishButton:active {
	background-color: rgb(64, 220, 76);
	
}

.cancelButton, 
.cancelButton:hover  {
	color: black;
	background-color: white;
	border-color: rgb(101, 229, 120);
	padding-right: 5px;
}*/


#kinjamprove-user-info-button,
#kinjamprove-window-variables-container {
	display: none;
}

/*
button.kinjamprove-cancel-button,
button.kinjamprove-publish-button {
	width: 50%;
}*/

span.kinjamprove-creator-authorname.even {
	color: rgb(51, 153, 255) !important;
}

span.kinjamprove-creator-authorname.odd {
	color: rgb(101, 229, 120) !important;
}

.kinjamprove-followedUser {
	border-top-color: orange !important;
}

.kinjamprove-staff {
	border-top-color: rgb(101, 229, 120) !important;
}

.kinjamprove-user-comment {
	border-top-color: rgb(51, 153, 255) !important;
}

article[data-authorname="mark-bowen1"] .reply__byline {
	line-height: 17.5px;
}

article[data-authorname="mark-bowen1"] .reply__byline > a.url {
	color: rgb(51, 153, 255);
	font-size: 17.5px;
}
 
span.kinjamprove-reply-to-author {
	font-style: italic;
}



/*
article.kinjamprove-followedUser span.reply__byline > a, 
article.kinjamprove-followedUser span.reply__byline > a:focus,
article.kinjamprove-followedUser span.reply__byline > a:hover,
article.kinjamprove-followedUser span.reply__byline > a:click {
	color: rgb(51, 153, 255) !important;
}

article.kinjamprove-staff {
	background-color: rgba(211, 211, 211, 0.18);	
}

article.kinjamprove-staff span.reply__byline > a:first {
	color: orange !important;
}
*/

div.kinjamprove-hide-pending-comments-div, 
div.kinjamprove-discussion-header-panel {
    width: -webkit-fill-available;
    width: -moz-available; 
    display: flex;
}

div.kinjamprove-discussion-header-container {
	width: -webkit-fill-available;
	width: -moz-available; 
}

.kinjamprove-hide-pending-comments-span {
	line-height: 3em;
    margin-left: 5px;
}

select.kinjamproveSortOrder {
	height: 47px;
    width: 100%;
    margin-right: 20px;
    text-align: -webkit-right;
    width: -moz-right; 
	font-size: 17px;
	/*background-image: url('chrome-extension://__MSG_@@extension_id__/icons/kinjamproveLogoReversed.png');*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 83px;
  height: 47px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(51, 153, 255);
	/*   background-color: #ccc; */
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: orange;
}

input + .slider:before {
	position: absolute;
	content: "Hide";
	line-height: 38px;
	text-align: center;
	height: 38px;
	width: 38px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider:before {
	position: absolute;
	content: "Show";
	height: 38px;
	width: 38px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	-webkit-transform: translateX(38px);
	-ms-transform: translateX(38px);
	transform: translateX(38px);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.kinjamprove-loadMoreCommentsButton,
.kinjamprove-reload-button,
.kinjamprove-return-to-top-button,
.kinjamprove-back-to-discussion-region-top {
	width: -webkit-fill-available;
	width: -moz-available;
	border-radius: 3px;
}

.kinjamprove-loadMoreCommentsButton,
.kinjamprove-loadMoreCommentsButton:active,
.kinjamprove-loadMoreCommentsButton:focus,
.kinjamprove-reload-button,
.kinjamprove-reload-button:active,
.kinjamprove-reload-button:focus,
.kinjamprove-publish-button,
.kinjamprove-publish-button:active,
.kinjamprove-publish-button:focus  {
	background-color: rgb(64, 220, 76); 
	color: white;
	margin-bottom: 45px;
}

.kinjamprove-reload-button,
.kinjamprove-reload-button:active,
.kinjamprove-reload-button:focus {
	margin-bottom: 0;
}

.kinjamprove-loadMoreCommentsButton:hover,
.kinjamprove-reload-button:hover,
.kinjamprove-publish-button:hover {
	background-color: rgb(40, 195, 52);
	color: white;	
}


.kinjamprove-cancel-button,
.kinjamprove-cancel-button:active,
.kinjamprove-cancel-button:focus {
	background-color: rgb(51, 153, 255);
    color: white;
}

.kinjamprove-cancel-button:hover {
	background-color: rgb(35, 142, 249);
	color: white;
}


.kinjamprove-return-to-top-button,
.kinjamprove-return-to-top-button:focus,
.kinjamprove-back-to-discussion-region-top,
.kinjamprove-back-to-discussion-region-top:focus {
	background-color: white;
	background-image: url('chrome-extension://__MSG_@@extension_id__/icons/kinjamprove-logo-21x40-green.png');
    background-repeat: no-repeat;
	border-color: orange;
	border-width: 1px;
	color: rgb(51, 153, 255);
}

.kinjamprove-return-to-top-button:hover,
.kinjamprove-back-to-discussion-region-top:hover {
	background-color: #f2f9ff;
	color: rgb(51, 153, 255);
}

.kinjamprove-return-to-top-button:before,
.kinjamprove-back-to-discussion-region-top:before {
	content: "↑";
    margin: 0 5px;
}

section.js_discussion-region[data-reply-count-total="0"] button.kinjamprove-loadMoreCommentsButton,
section.js_discussion-region[kinjamprove-display-comments-remaining="0"] button.kinjamprove-loadMoreCommentsButton {
	display: none;
}


body {
  padding-top: 40px !important;
}

footer.kinjamprove-back-to-top-footer {
  background: #f5b335;
  height: 40px;
  position: fixed;
  bottom: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  /*z-index: 1000;*/
  display: none;
}

footer.kinjamprove-back-to-top-footer > button {
	width: 50%;
}


header.kinjamprove-back-to-top-header {
  background: #f5b335;
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1000;
}

footer.kinjamprove-back-to-top-footer.kinjamprove-nav-up {
  /*top: -40px; */
  /*bottom: -40px;*/
  z-index: 1000;
  display: block;
}

.kinjamprove-last-reload-time {
	font-size: 14px;
}

small {
	font-size: 13px;
}

div.column.large-6.large-offset-6.small-12 {
	width: 100%;
	margin-left: 0 !important;
}

div.column.large-6.large-offset-6.small-12 button {
	width: 50%;
}

div.editor-buttons {
	width: 100%%;
}

.pe_newlayout .page {
	justify-content: center !important;
}
.pe_newlayout .main {
	border-left: none !important;
}
.pe_newlayout.featured-post .main__content {
	max-width: 800px !important;
}

/*vvv Just added vvv*/
li.commentlist__item.collapsed > article > :not(header),
li.commentlist__item.collapsed > li
{
    display: none;
}

li.commentlist__item.collapsed > article[depth="0"] .reply__header > .avatar img {
    width: 36px !important;
    height: 36px !important;
}
/* ^^^ Just added ^^^*/