div.reading-list section.sidebar {
    display: none;
}

.replies-wrapper,
.discussion-header {
	max-width: 800px !important;
}

.reply__content,
.reply--depth-0>.reply__content {
	width: 100% !important;
	flex: none !important;
	max-width: none !important;
}
.reply__sidebar {
	text-align: left !important;
	position: static !important;
	width: auto !important;
	margin-left: 48px !important;
	line-height: 24px !important;
	align-self: center !important;
	height: auto !important;
}

.reply__tools {
	flex: none !important;
	margin-top: 0px !important;
	font-size: 13px !important;
	align-self: center !important;
	line-height: 24px !important;
}

.reply__recommend {
	height: auto !important;
	margin-top: 0 !important;
}
.reply__recommend .like-count {
	font-size: 13px !important;
	margin-top: 0px !important;
	display: inline !important;
	line-height: 24px !important;
}
.reply__link {
	margin-left: 0 !important;
}
.reply__tools.js_reply-tools:before {
	content: "•";
	margin: 0 5px;
	color: #999;
}
.reply__recommend .svg-icon.giant {
	width: 16px !important;
	height: 16px !important;
	margin-right: 5px !important;
}
.reply__recommend .like-count,
.reply__tools.js_reply-tools:before,
.reply__recommend .svg-icon,
.reply__link .kinjamprove-show-comment-replies{
	vertical-align: middle !important;
}
.commentlist {
	margin-bottom: 25px !important;
}
.replies-wrapper .reply__content {
	padding-left: 48px !important;
}


div.kinjamprove-button-container {
	margin: auto;
}

a.kinjamprove-button {
/* 	color: rgb(131, 209, 120); */
	color: rgb(101, 229, 120);
	font-weight: bold; 
	font-size: 25px;
	border-style: solid;
	border-radius: 50px;
	border-width: 2px;
	padding: 10px;
	text-decoration-line: none;
}

a.kinjamprove-button:hover {
	color: rgb(64, 220, 76);
	border-color: rgb(101, 229, 120);
}

a.kinjamprove-collapse-thread-button {
	color: #8F939D; 
	font-size: 20px;
	line-height: 5px; 
	position: relative;
	z-index: 1;
	font-weight: 400; 
	width: 12.640px;
	display: none;
	float: right;
	text-decoration-line: none;
	top: 10px;
	left: -35px;
}

a.kinjamprove-collapse-thread-button:hover {
	color: #535868;
	text-decoration-line: none;
}

article.kinjamprove-blockedUser a.kinjamprove-collapse-thread-button {
	top: -15px;
}
 
a.parent-comment-link {
	color: rgb(170, 170, 170);
	z-index: 50;
    margin-right: 20px;
} 

.parent-comment-tooltip {
	position: absolute;
	z-index: 1000; 
	background-color: white; 
	margin-bottom: 0; 
	border-radius: 4px; 
	border-color: rgb(101, 229, 120); 
	border-width: 3px; 
	border-style: solid;	
    width: 220px; 
}

.parent-comment-tooltip > img {
	width: 36px !important; 
	height: 36px; 
	position: relative; 
	display: block; 
	float: left; 
	border-radius: 4px;
	margin: 5px;
}

.parent-comment-tooltip > div {
	position: relative;
}

.parent-comment-tooltip > div > h4,
.parent-comment-tooltip > div > p {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}

.parent-comment-tooltip > div > h4 {
	font-size: 1.0rem; 
	color: black; 
	margin-top: 4px;
}

.parent-comment-tooltip > div > p {
	font-size: 13px; 
	color: rgb(170, 170, 170);
	z-index: 1;
	
}

.reply--unapproved .avatar, 
.reply--unapproved .reply__byline, 
.reply--unapproved .reply__content, 
.reply--unapproved .reply__publish-time, 
.reply--unapproved .reply__tools {
    opacity: 1.0;
}

.reply--unapproved .avatar img {
	filter: none;
}


article[depth],
article[depth] ~ div.js_editor-placeholder  {
	margin-left: 380px;
}

article[depth="0"]
{
	margin-left: 0px !important;
} 

article[depth="1"],
article[depth="0"] ~ div.js_editor-placeholder {
	margin-left: 48px !important;
}

article[depth="2"],
article[depth="1"] ~ div.js_editor-placeholder {
	margin-left: 96px !important;
}

article[depth="3"],
article[depth="2"] ~ div.js_editor-placeholder {
	margin-left: 144px !important;
}

article[depth="4"],
article[depth="3"] ~ div.js_editor-placeholder {
	margin-left: 192px !important;
}

article[depth="5"],
article[depth="4"] ~ div.js_editor-placeholder {
	margin-left: 240px !important;
}

article[depth="6"],
article[depth="5"] ~ div.js_editor-placeholder {
	margin-left: 284px !important;
}

article[depth="7"],
article[depth="6"] ~ div.js_editor-placeholder {
	margin-left: 332px !important;
}

article[depth="8"],
article[depth="7"] ~ div.js_editor-placeholder {
	margin-left: 380px !important;
}

footer.commentlist__pagination{
	display: none !important;
}
div.js_replycol{
	display: none !important;
}
#kinjamprove-user-info-button,
#kinjamprove-window-variables-container {
	display: none;
}

div.discussion-tab-wrapper{
	padding-top: 7px !important;
}

li.kinjamprove-filter-select-li{
	white-space: nowrap !important;
}

li.kinjamprove-discussion-header-li-pending{
	padding-left: 60px;
    padding-top: 5px;
}

select.kinjamprove-filter-select{
    width: 90%;
	font-size: 17px;
    margin-left: 4px;
}
a.kinjamprove-author-comment-count-link{
	margin-left: 5px;
    color: #636c9c;
}
/*
button.kinjamprove-cancel-button,
button.kinjamprove-publish-button {
	width: 50%;
}*/

span.kinjamprove-creator-authorname.even {
	color: rgb(51, 153, 255) !important;
}

span.kinjamprove-creator-authorname.odd {
	color: rgb(101, 229, 120) !important;
}

article[data-authorname="mark-bowen1"] .reply__byline {
	line-height: 17.5px;
}

article[data-authorname="mark-bowen1"] .reply__byline > a.url {
	color: rgb(51, 153, 255);
	font-size: 17.5px;
}
 
span.kinjamprove-reply-to-author {
	font-style: italic;
}

div.kinjamprove-hide-pending-comments-div, 
div.kinjamprove-discussion-header-panel {
    width: -webkit-fill-available;
    width: -moz-available; 
    display: flex;
}

div.kinjamprove-discussion-header-container {
	width: -webkit-fill-available;
	width: -moz-available; 
	margin-top: 0.5em;
}

span.kinjamprove-hide-pending-comments-span {
    line-height: inherit;
    margin-left: 5px;
    margin-right: 2px;
}

div.kinjamprove-sorting{
	white-space: nowrap !important;
}

select.kinjamproveSortOrder {
    width: 10.5em;
    margin-right: 20px;
    text-align: -webkit-right;
    width: -moz-right;
    font-size: 17px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
	display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(214, 43, 7, 0.57);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #13ff00f2;
}

input + .slider:before {
    position: absolute;
    content: "Off";
    text-align: center;
    width: 45%;
    top: 1.25px;
    bottom: 1.25px;
    left: 2px;
    font-size: 80%;
    background-color: #e20000;
    text-shadow: 1px 1px 1px black;
    color: white;
    border: 1px solid !important;
    border-color: black !important;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    position: absolute;
    content: "On";
    left: 0px;
    background-color: #0cd635;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.kinjamprove-loadMoreCommentsButton,
.kinjamprove-reload-button,
.kinjamprove-return-to-top-button {
	width: -webkit-fill-available;
	width: -moz-available;
	border-radius: 3px;
}

.kinjamprove-loadMoreCommentsButton,
.kinjamprove-loadMoreCommentsButton:active,
.kinjamprove-loadMoreCommentsButton:focus,
.kinjamprove-reload-button,
.kinjamprove-reload-button:active,
.kinjamprove-reload-button:focus,
.kinjamprove-publish-button,
.kinjamprove-publish-button:active,
.kinjamprove-publish-button:focus  {
	background-color: rgb(64, 220, 76); 
	color: white;
	margin-bottom: 45px;
}

.kinjamprove-reload-button,
.kinjamprove-reload-button:active,
.kinjamprove-reload-button:focus {
	margin-bottom: 0;
}

.kinjamprove-loadMoreCommentsButton:hover,
.kinjamprove-reload-button:hover,
.kinjamprove-publish-button:hover {
	background-color: rgb(40, 195, 52);
	color: white;	
}

.kinjamprove-publish-button,
.kinjamprove-publish-button:active,
.kinjamprove-publish-button:focus{
	width: 30% !important;
}

.kinjamprove-cancel-button,
.kinjamprove-cancel-button:active,
.kinjamprove-cancel-button:focus {
	width: 20% !important;
	margin-right: 5px !important;
	background-color: rgb(51, 153, 255);
    color: white;
}

.kinjamprove-cancel-button:hover {
	background-color: rgb(35, 142, 249);
	color: white;
}


.kinjamprove-return-to-top-button,
.kinjamprove-return-to-top-button:focus,
.kinjamprove-back-to-discussion-region-top,
.kinjamprove-back-to-discussion-region-top:focus,
.kinjamprove-store-load-time-button,
.kinjamprove-store-load-time-button:focus,
.kinjamprove-authorlist-div,
.kinjamprove-authorlist-div:focus{
	background-color: white;
	border-color: orange;
	border-width: 1px;
	color: rgb(51, 153, 255);
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-y: center;
}
.kinjamprove-return-to-top-button,
.kinjamprove-return-to-top-button:focus{
	width: 140px; 
	text-align: right;
	background-image: url('chrome-extension://__MSG_@@extension_id__/icons/kinjamprove-logo-21x40-green.png');
    margin-left: 2px;
    margin-right: 5px;
}

.kinjamprove-back-to-discussion-region-top,
.kinjamprove-back-to-discussion-region-top:focus{
	background-image: url('chrome-extension://__MSG_@@extension_id__/icons/kinjamprove-logo-21x40-green-flipped.png');
    background-position-x: 100%;
    width: 11.3em;
	text-align: left;
}

.kinjamprove-store-load-time-button,
.kinjamprove-store-load-time-button:focus {
	cursor: pointer !important;
	position: relative;
	left: 54%;
}

.kinjamprove-return-to-top-button:hover,
.kinjamprove-back-to-discussion-region-top:hover,
.kinjamprove-store-load-time-button:hover {
	background-color: #f2f9ff;
	color: rgb(51, 153, 255);
}

.kinjamprove-back-to-discussion-region-top:before{
	content: "⇵";
    margin: 0 5px;
	color: black;
}

.kinjamprove-return-to-top-button:before{
	content: "↑";
    margin: 0 5px;
	color: black;
}

.kinjamprove-store-load-time-button:before{
	content: "💾";
    margin: 0 5px;
	color: black;
}

.kinjamprove-authorlist-div{
	display: inline-block !important;
	width: 36em;
}

li.kinjamprove-block-user > a, li.kinjamprove_save > a {
	background-image: url('chrome-extension://__MSG_@@extension_id__/icons/kinjamprove-logo-21x40-green.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
	background-size: 1rem;
}

article.kinjamprove-saved > header.reply__header:after{
	content: "SAVED";
    position: absolute;
    right: 1rem;
    top: 0.1rem;
    color: #0080008f;
}

li.kinjamprove_save > a{
	padding-top: 0px;
}

li.kinjamprove_save > a:before{
    position: relative;
    content: "♡";
    font-size: 1.7rem;
    color: lightgrey;
    padding-right: 0.6rem;
    top: 0.25rem;
}


.kinjamprove-authorlist-label{
	display: inline;
	font-weight: bold;
}

.kinjamprove-authorlist-label:before{
	content: "📝";
	color: black;
}

#kinjamprove-authorlist-input{
	width: 20em;
}

.kinjamprove-authorlist-button{
	background-color: rgb(51, 153, 255);
    color: aliceblue;
    border-radius: 10px;
    width: 4em;
    margin-left: 5px;
}

.kinjamprove-authorlist-button:hover,
.kinjamprove-authorlist-button:active,
.kinjamprove-authorlist-button:focus{
	background-color: rgb(51, 153, 255);
    color: black;
}

div.sharingfooter__wrapper {
    max-width: 1850px;
}

.kinjamprove-new-comments-info{
	color: blue;
}

section.js_discussion-region[data-reply-count-total="0"] button.kinjamprove-loadMoreCommentsButton,
section.js_discussion-region[kinjamprove-display-comments-remaining="0"] button.kinjamprove-loadMoreCommentsButton {
	display: none;
}

body {
  padding-top: 40px !important;
}

footer.kinjamprove-back-to-top-footer {
  background: #f5b335;
  height: 40px;
  position: fixed;
  bottom: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  /*z-index: 1000;*/
  display: none;
}

footer.kinjamprove-back-to-top-footer > button {
	width: 50%;
}


header.kinjamprove-back-to-top-header {
  background: #f5b335;
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1000;
}

footer.kinjamprove-back-to-top-footer.kinjamprove-nav-up {
  /*top: -40px; */
  /*bottom: -40px;*/
  z-index: 1000;
  display: block;
}

.kinjamprove-last-reload-time {
	font-size: 14px;
}

small {
	font-size: 13px;
}

div.column.large-6.large-offset-6.small-12 {
	width: 100%;
	margin-left: 0 !important;
}

div.column.large-6.large-offset-6.small-12 button {
	width: 50%;
}

div.editor-buttons {
	width: 100%%;
}

.pe_newlayout .page {
	justify-content: center !important;
}
.pe_newlayout .main {
	border-left: none !important;
}

li.commentlist__item.collapsed > article > :not(header),
li.commentlist__item.collapsed > li
{
    display: none !important;
}

a.tab-item--active{
	font-weight: bold;
}
a.tab-item--inactive{
	font-weight: normal !important;
}

div.hide-show-replies{
	display: none;
}

a.hide-show-replies-link{
	display: none;
}

a.kinjamprove-show-replies-text{
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: black;
	line-height: 1;
	position: relative;
}

a.kinjamprove-show-comment-replies-a {
    line-height: 1;
	position: relative;
	text-decoration: none;
}

a.kinjamprove-show-replies-approved-link {
	color: #04046fbd;
}
a.kinjamprove-show-replies-pending-link {
	color: #a20707c9;
}
a.kinjamprove-show-replies-all-link {
	color: #079407;
}
div.js_content-region{
	display: none !important;
}
span.one,
span.two,
span.three{
	background-color: rgb(101, 229, 120) !important;
}

nav.global-nav--scrollback{
	display: none !important;
}

div.discussion-sorting-wrapper{
	display: none !important;
}

li.cGENvi{
	display: none !important;
}

div.js_region--warning{
	display:none !important;
}

span.kinjamprove-failure{
    color: #32d706;
    font-size: 26px;
}

div.kinjamprove-post-content h1,div.kinjamprove-post-content h2,div.kinjamprove-post-content h3,div.kinjamprove-post-content h4{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
/*
Begin old kinjamprove.css rules
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
.editor .editor-inner blockquote,
.editor .editor-inner dl,
.editor .editor-inner ol,
.editor .editor-inner p,
.editor .editor-inner ul,
.discussion-region .post-content blockquote p,
.discussion-region .post-content dl,
.discussion-region .post-content ol,
.discussion-region .post-content ul,
.curation-main-container .curation__wrapper--whoomp .featured-items .featured-item .curation-item-placeholder--sub-item-4 .headline__excerpt,
.postlist__item .excerpt,
.postlist__item .excerpt p {
	font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif !important;
}

section.discussion-region body,
section.discussion-region h1,
section.discussion-region h2,
section.discussion-region h3,
section.discussion-region h4,
section.discussion-region h5,
section.discussion-region h6,
section.discussion-region .headline,
section.discussion-region .headline a,
section.discussion-region .headline a:active,
section.discussion-region .headline a:focus,
section.discussion-region .headline a:hover,
section.discussion-region .above-headline-image .featured-post__caption,
section.discussion-region .above-headline-image .video-embed__caption,
section.discussion-region .above-headline-image figcaption,
section.discussion-region .editor .editor-inner .featured-post__caption,
section.discussion-region .editor .editor-inner .video-embed__caption,
section.discussion-region .editor .editor-inner figcaption,
section.discussion-region .featured-post__asset .featured-post__caption,
section.discussion-region .featured-post__asset .video-embed__caption,
section.discussion-region .featured-post__asset figcaption,
section.discussion-region .post-content .featured-post__caption,
section.discussion-region .post-content .video-embed__caption,
section.discussion-region .post-content figcaption,
.reply__byline,
a.reply__count span,
a.reply__link span,
.reply .unapproved-msg,
.reply__pending-label,
.reply__publish-time,
.reply__to-author,
.button,
button,
.reply-filter,
.reply-footer-bar,
.reply__flagged-indicator,
.reply__recommend .like-count,
.reply__tools,
.unapproved-filter .button-container a,
a.button--pagination,
a.commentlist__filter-button,
a.reply-to-post--mobile,
section.discussion-region .storytype__filled .storytype-type,
section.discussion-region .storytype__filled .storytype-vertical,
section.discussion-region .storytype__outlined .storytype-type,
section.discussion-region .storytype__outlined .storytype-vertical,
section.discussion-region .storytype__text .storytype-type,
section.discussion-region .storytype__text .storytype-vertical,
.kinjamprove-filter-select-span,
.kinjamprove-filter-select,
section.discussion-region .reply__content > p { 
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

section.discussion-region .reply__content p,
label.kinjamprove-authorlist-label {
	font-size: 1rem;
}

.reply__content p {
	font-weight: normal !important;
	line-height: 1.5 !important;
}
.avatar img,
img.avatar:not(.blog-avatar) {
	border-radius: 3px !important;
}

div.kinjamprove-content-region > .replies-wrapper,.reply:not(.kinjamprove-marked-comment):not(.kinjamprove-curated-comment):not(.kinjamprove-filter-highlight){
	border-top: 1px solid #e5e5e57d !important;
	margin-top: 1px;
}
li.commentlist__item.collapsed > article[depth="0"] {
	padding: 0px 0px 22px 5px !important;
}
.reply {
	padding: 0px 0px 15px 5px !important;
}
.reply__header>.avatar img {
	width: 36px !important;
	height: 36px !important;
}

.reply__header>.avatar {
	margin-right: 12px !important;
}

.replies-wrapper .reply__content {
	padding-left: 48px !important;
}

.reply__content p,
.reply__content blockquote {
	margin-left: 0 !important;
	margin-bottom: 0.5rem !important;
}

.reply__pending-label,
.reply__pending-label.hide-for-small {
	font-size: 12px !important;
}
.svg-reply-right {
	display: none !important;
}

article:not(.collapsed) .reply__pending-label.hide-for-small {
	max-width: 1px;
    top: 40px;
    left: -2px;
    position: absolute;
    word-wrap: normal;
    font-size: 9px !important;
    color: red;
    font-weight: bold;
    text-align: center;
}

article[depth="0"]:not(.collapsed) .reply__pending-label.hide-for-small {
	top: 50px;
	left: 1px;
}

article[depth="0"]:not(.collapsed, .kinjamprove-blockedUser) header:before {
    content: ''; 
	width: 30px; 
	height: 30px;
	top: -3px; 
	left: -5px;
	background: rgb(51, 153, 255); 
	/*black;*/
	position: absolute; 
	z-index: -1;
	opacity: 0.7; 
	border-radius: 3px
}

article[depth="0"]:not(.collapsed, .kinjamprove-blockedUser) header:after {
    content: ''; 
	width: 30px; 
	height: 30px;
	background: orange;
	position: absolute; 
	top: 25px; 
	left: 23px; 
	z-index: -1;
	opacity: 0.7;
	border-radius: 3px
}

article.kinjamprove-new-comment > div.reply__sidebar:before{
	content: 'NEW';
    color: deepskyblue;
    position: absolute;
    left: 6px;
    font-weight: bold;
}

.kinjamprove-filter-highlight {
	border-top: 2px solid !important;
	border-right: 2px solid !important;
	border-bottom: 2px solid !important;
	border-radius: 6px;	
	margin-top: 1px;
    margin-bottom: 1px;
}

.kinjamprove-staff-curated,
.kinjamprove-followedUser, 
.kinjamprove-staff,
.kinjamprove-user-comment,
.kinjamprove-curated-comment,
.kinjamprove-filter-highlight{
	border-left: 2px solid !important;
	border-radius: 6px;
}


.kinjamprove-filter-highlight{
	border-color: var(--filter-highlight-border-color, rgb(64, 220, 76));
	border-top-color: var(--filter-highlight-border-color, rgb(64, 220, 76)) !important;
	border-bottom-color: var(--filter-highlight-border-color, rgb(64, 220, 76)) !important;
}

.kinjamprove-filter-highlight:not(.kinjamprove-followedUser):not(.kinjamprove-user-comment):not(.kinjamprove-staff):not(.kinjamprove-staff-curated){
	border-color: var(--filter-highlight-border-color, rgb(64, 220, 76)) !important;
}

.kinjamprove-marked-comment{
	margin-top: 1px;
	background-color: var(--marked-background-color, #fdefdd8f) !important;
	border-radius: 6px;
}

.kinjamprove-followedUser {
	border-left-color: var(--followed-user-border-color, orange) !important;
	border-right-color: var(--followed-user-border-color, orange) !important;
}


.kinjamprove-user-comment {
	border-left-color: var(--user-border-color, rgb(51, 153, 255)) !important;
	border-right-color: var(--user-border-color, rgb(51, 153, 255)) !important;
}

.kinjamprove-staff-curated {
	border-left-color: var(--staff-curated-border-color, #ea08ea) !important;
	border-right-color: var(--staff-curated-border-color, #ea08ea) !important;
}

.kinjamprove-staff {
	border-left-color: var(--staff-border-color, green) !important;
	border-right-color: var(--staff-border-color, green) !important;
}

.kinjamprove-curated-comment {
	border-top: 2px solid !important;
	border-right: 2px solid !important;
	border-bottom: 2px solid !important;
	margin-top: 1px;
    margin-bottom: 1px;
	border-color: var(--user-curated-border-color, red) !important;
}

.kinjamprove-user-comment-editable:after {
	content: "EDITABLE";
	color: blueviolet;
    position: absolute;
    left: 85%;
}

article[depth="0"]:not(.collapsed):not(.kinjamprove-blockedUser) .reply__header>.avatar img {
	width: 48px !important;
	height: 48px !important;
}


li.commentlist__item.collapsed > article[depth="0"] .reply__header > .avatar img {
    width: 32px !important;
    height: 32px !important;
}

li.commentlist__item.collapsed > article .reply__header > .avatar img {
    width: 24px !important;
    height: 24px !important;
}

li.commentlist__item.collapsed > article[depth="0"] .reply__pending-label.hide-for-small {
	top: 34px !important;
	font-size: 8px !important;
}

li.commentlist__item.collapsed > article .reply__pending-label.hide-for-small {
    top: 26px !important;
    position: absolute;
    width: 8%;
    word-wrap: normal;
    font-size: 7px !important;
    color: red;
    font-weight: bold;
    text-align: center;
}


article[depth="0"] .reply__sidebar {
    margin-left: 60px !important;
 }
 article[depth="0"] .reply__content {
    padding-left: 60px !important;
}

article[depth="0"] .reply__header{
	margin-bottom: -5px !important;
}

 
 .reply__header {
	margin-bottom: 5px !important;
	padding-bottom: 0px !important;	
}
 
 .reply__content.js_reply-content.post-content.blurable.whitelisted-links {
 	margin-top: 0px !important;	
	padding-bottom: 0px !important;
 }

.reply__to-author {
	color: rgb(170, 170, 170);
}


.instream-native-video.instream-permalink {
	display: none !important;
}


.kinjamprove-blockedUser .reply__pending-label.hide-for-small {
	top: 0px !important;
}


.kinjamprove-spinner-bounce {
	background-color: rgb(101, 229, 120) !important;
}

.kinjamprove-hidden {
	display: none;
}

ul.colors-ul{
	margin-top: 1.25rem;
}

div.kinjamprove-color-sidebar{
    position: fixed;
    z-index: 1;
    border: 1px solid;
    width: 300px;
}

hr.color-hr{
	margin: 0.7rem 0 0.7rem !important;
}

span.kinjamprove-color{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
	float: right;
    margin-right: 40px;
	cursor: pointer;
}

button.colors-button{
	color: aliceblue;
	background-color: rgb(51, 153, 255);
	margin-bottom: 10px;
    border-radius: 10px;
	height: 25px;
}

button.colors-button:hover{
	color: black;
	background-color: rgb(41, 118, 195);
}

button.restore-colors-button{
    margin-left: 25%;
    width: 50%;
	background-color:rgb(26, 169, 81);
}

button.restore-colors-button:hover{
	background-color: rgb(18, 121, 58);
}

button.reset-colors-button{
    margin-left: 35%;
    width: 30%;
}


button.save-colors-button{
	float: left;
	width: 25%;
    margin-left: 20%;

}

button.cancel-colors-button{
	float: right;
	width: 25%;
    margin-right: 20%;
}

.svg-checkmark--small {
	left: 0 !important;
}
.featured-post .reply__header .post-dropdown-ct {
    right: -67px;
}

button.publishing, button.publishing:hover, button.publishing:active, button.publishing:focus {
	background-color: red;
	cursor: progress;
}

div.kinjamprove-footer-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 98;
	box-shadow: 0 0 1px rgba(0,0,0,0.4);
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	font-size: 13px;
}

button.store-button-clicked,
button.store-button-clicked:hover,
button.store-button-clicked:focus,
button.store-button-clicked:active{
	color: red !important;
	cursor: progress !important;
}
